<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RSS Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RSS Reader</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let art of res; let i = index">
      <ion-card>
        
        <ion-card-header (click)="toggleSection(i)"><ion-card-title>{{art["title"][0]}}</ion-card-title></ion-card-header>
        <ion-card-content *ngIf="clicked[i]" style="font-size: x-small;">
          <span [innerHTML]='art["content"][0]["_"]'></span>
        </ion-card-content>
        
       
        
      </ion-card>
      
    </ion-row>
  </ion-grid>

  <!-- 
  <ion-list>
    <ion-item *ngFor="let art of res">
      <ion-label>{{art["title"][0]}}</ion-label>
      <span [innerHTML]='art["content"][0]["_"]'></span>
    </ion-item>
  </ion-list>
  -->
  

</ion-content>
